body {
  background-color: #111;
  color: #f2f2f2;
  font-family: monospace;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 20px;         
}

a {
  color: #ff4b5c;
  text-decoration: none;
  font-size: 1.07em;       
}

a:hover {
  text-decoration: underline;
}

nav {
  margin-bottom: 1rem;
  font-size: 1.15em;       
}

nav a {
  margin-right: 1rem;
}

img.profile {
  width: 300px;            
  border-radius: 4px;
  margin-bottom: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.4em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

ul {
  font-size: 1.07em;
}
